<li>
    {{name}}

    <button class="change-eat" data-id="{{id}}" data-newdevour="{{devour}}">
       {{burger_name}} {{#if devour}} - Want to devour!{{else}} - Already Devoured!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE</button>
</li>